.method {
  display: flex;
  flex-direction: column;
  gap: 40px;

  padding-inline: var(--p-padding-primary);

  &__item {
    display: flex;
    flex-direction: column;
    gap: 6px;
  }

  &__title {
    color: var(--c-title-txt--hover);
  }

  &__example {
    background-color: var(--c-title-bg--hover);
    white-space: pre-wrap;
    padding: 14px 14px 0 14px;
    border-radius: 8px;
  };
}